* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #7e3bbd;
}

.courses-section {
  padding: 40px;
  width: 100%;
  background-color: #4B3F72;
  color: white;
  text-align: center;
}

.filters {
  margin: 20px 0;
}

.filters button {
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.filters .active {
  background: white;
  color: #7e3bbd;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.course-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 16px;
  padding: 15px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  margin-left: 180px;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

.course-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

.course-card h3 {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}

.course-card p {
  font-size: 13px;
  opacity: 0.85;
  color: white;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  color: white;
}

.bottom button {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.load-more {
  margin-top: 30px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #9f40ce;
  color: white;
}

.courses-section {
  padding: 40px;
  padding-top: 0;  
  margin-top: 0;   
  width: 100%;
  background-color: #4B3F72;
  color: white;
  text-align: center;
}
.navbar {
  margin-bottom: 0 !important;
}
header {
  margin-bottom: 0 !important;
}
