* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #7e3bbd ;
}

.course-card img{
  width: 400px;
  height: 250px;
}
.courses-section {
  
  padding: 40px;
  width: 100%;
  background-color: #4B3F72;
  color: white;
  text-align: center;
  
}

.filters {
  margin: 20px 0;
}

.filters button {
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.filters .active {
  background: white;
  color: #7e3bbd;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.course-card {
  background: #8E7CC3;
  border-radius: 12px;
  padding: 15px;
  text-align: left;
}

.course-card img {
  width: 100%;
  border-radius: 10px;
}

.course-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.course-card p {
  font-size: 13px;
  opacity: 0.8;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-weight: bold;
}

.load-more {
  margin-top: 30px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}



