* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
}

.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #6a0dad, #8e2de2);
  color: white;
  padding: 20px;
  position: relative; 
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background 0.3s;
}

.sidebar li:hover,
.sidebar .active {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar ul ul {
  list-style: none;
  padding-left: 20px; 
  margin-top: 8px;
  display: block; 
  background-color: #a271cc63;
}

.sidebar ul ul li {
  padding: 10px 14px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  margin-bottom: 6px;
}

.sidebar ul ul li:hover {
  background: rgba(255, 255, 255, 0.25);
}

.main {
  flex: 1;
  padding: 25px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.profile {
  background: #6a0dad;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.card h3 {
  color: #777;
  margin-bottom: 10px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  color: #6a0dad;
}

.table-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  color: #6a0dad;
}

tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.active-status {
  color: green;
  font-weight: bold;
}
.totalRevenue{
  display: flex;
  gap: 20px;
  margin-left: 10px;
  margin-top: 10px;
}