/* Favourite Page */

.favourite-section {
  padding: 40px;
  width: 100%;
  background-color: #4B3F72;
  color: white;
  text-align: center;
}

.favourite-section h1 {
  margin-bottom: 30px;
}

.favourite-empty {
  font-size: 18px;
  opacity: 0.8;
}

/* نفس ستايل الكورسات */
.favourite-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.favourite-card {
  background: #8E7CC3;
  border-radius: 12px;
  padding: 15px;
  text-align: left;
}

.favourite-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.favourite-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.favourite-card p {
  font-size: 13px;
  opacity: 0.8;
}

.favourite-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remove-btn {
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.remove-btn:hover {
  background: white;
  color: #7e3bbd;
}
