* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.home {
  background: #f7f9fc;
  min-height: 100vh;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-image img {
  width: 300px;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
