* {
  background: #f7f9fc;
  font-family: Arial, sans-serif;
}


.hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.hero-text h1 {
  font-size: 30px;
}

.hero-image img {
  width: 1000px;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
