html, body {
background-image: url("/images/home-background.png")  !important;
background-repeat: no-repeat;
background-size: cover;
}

.hero {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
  margin-left: 100px;
}

.hero-text{
  margin-top: 40px;
}
.hero-text h1 {
    font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  color: #111827;
}

.hero-text button {
   font-size: 14px;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 999px;
  background-color: #7c3aed; 
  color: #fff;
}
.below_hero{
  display: flex;
  gap: 10px;
}

.hero-image img {
  margin-top: 110px;
  width: 320px;
  height: 420px;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
}

.card-right {
  position: absolute !important;
  background: #fff !important;
  padding: 20px !important;
  width: 240px !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08) !important;
    right: 14%;
  top: 70%;
}
.card-left {
  position: absolute !important;
  background: #fff !important;
  padding: 20px !important;
  width: 240px !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08) !important;
  left: 14%;
  top: 60%;
  transform: translateY(-50%);

}

.card-left h3{
font-size: 16px;
font-weight: 600;
}

.card-left p{
font-size: 12px;
line-height: 1.6;
color: #6b7280;
}

.card-right h3{
font-size: 14px;
font-weight: 600;;
}

.card-right p{
font-size: 13px;
font-weight: 500;
color: #6b7280;

}