html, body {
  background-image: url("/images/home-background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 10px;
  margin: 60px auto 0 auto;
}

.hero-text {
  margin-top: 40px;
  text-align: center;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  color: #111827;
}

.hero-text button {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 999px;
  background-color: #7c3aed;
  color: #fff;
}

.below_hero {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cards {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-image img {
  margin-top: 110px;
  width: 320px;
  height: 420px;
  border-radius: 20px;
}

.card-left {
  position: absolute;
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  left: 50%;
  top: 60%;
  transform: translate(-260%, -50%);
}

.card-right {
  position: absolute;
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  left: 50%;
  top: 55%;
  transform: translate(150%, -90%);
}

.courses-gridHome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 30px;
  margin-left: 75px;
}

  .course-cardHome {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 16px;
  padding: 15px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.course-cardHome img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}
.course-cardHome:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

.course-cardHome h3 {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}

.course-cardHome p {
  font-size: 13px;
  opacity: 0.85;
  color: white;
}

