.certificate-page {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* الحاوية الأساسية */
.certificate-wrapper {
  position: relative;
  width: 900px;
  height: 620px;
}

/* صورة الإطار فقط */
.certificate-frame {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* كل النصوص فوق الإطار */
.certificate-content {
  position: absolute;
  inset: 0;
  font-family: "Georgia", serif;
  text-align: center;
}

/* العنوان */
.cert-title {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #7a5c00;
}

/* اسم الطالب */
.cert-name {
  position: absolute;
  top: 308px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #8d1eb9;
}

/* النص */
.cert-text {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #444;
}

/* اسم الكورس */
.cert-course {
  position: absolute;
  top: 390px;
  left: 45%;
  transform: translateX(-50%);
  font-size: 9px;
  font-style: italic;
  color: #8d1eb9;
}

/* التاريخ */
.cert-date {
  position: absolute;
  bottom: 90px;
  right: 140px;
  font-size: 9px;
  color: #8d1eb9;
  top: 390px;
  left: 37%;


}

/* في حال الكورس غير مكتمل */
.not-completed {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}