.certificate-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate-scale {
  width: 100%;
  display: flex;
  justify-content: center;
}

.certificate-canvas {
  position: relative;
  width: 90%;
  max-width: 1000px; 
}

.certificate-canvas img {
  width: 100%;
  height: auto;
  display: block;
}


.cert-title {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(2px, 3vw, 40px);
  font-weight: bold;
  color: #1f3b57;
}

.cert-subtitle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(14px, 2vw, 20px);
  color: #444;
}

.cert-name {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(22px, 3vw, 34px);
  font-weight: bold;
  color: #000;
}

.cert-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(16px, 2.3vw, 24px);
}

.cert-course {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(18px, 2.6vw, 28px);
  font-weight: 600;
}

.cert-grade {
  position: absolute;
  bottom: 15%;
  right: 10%;
  font-size: clamp(14px, 2vw, 20px);
  font-weight: bold;
}
