.bb {

  top: 0 ;
  width: 100% ;
  padding: 12px 40px ;
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
  background: rgba(255, 255, 255, 0.15) ;
  backdrop-filter: blur(12px) ;
  -webkit-backdrop-filter: blur(12px) ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
  z-index: 1000 ;
}
.all{
color: red;}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  color: #fff;
  cursor: pointer

}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
.nav-links li {
  cursor: pointer;
  color: #444;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn-btn {
  padding: 8px 16px !important;
  border: 1px solid #6a0dad !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6a0dad !important;
}

.btn-btn1 {
  padding: 8px 16px !important;
  border: 1px solid #6a0dad !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6a0dad !important;
}

.btn-primary {
   margin-top: 10px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #6d5dfc, #8b7cff);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.search-btn{
    padding: 8px 16px !important;

  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: transparent !important;
}
.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-wrapper input {
  width: 220px;
  padding: 10px 40px 10px 15px; 
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.search-wrapper input:focus {
  border-color: #6a0dad;
}

.search-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent; 
  cursor: pointer;
  font-size: 16px;
  color:#6a0dad;
  padding: 0;
}

.search-btn:hover {
  opacity: 0.7;
}
