.navbar {
  position: fixed !important;
  top: 0 !important;
  border-radius: 20px;
  width: 1200px !important;
  padding: 12px 40px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1) !important;
  z-index: 1000 !important;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  color: #fff;
  cursor: pointer

}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}
.nav-links li {
  cursor: pointer;
  color: #444;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-right: -300px;
}

.btn-btn {
  padding: 8px 16px !important;
  border: 1px solid #6a0dad !important;
  background: transparent !important;
  color: #6a0dad !important;
  border-radius: 20px !important;
  cursor: pointer !important;
}

.btn-btn1 {
  padding: 8px 16px !important;
  border: 1px solid #6a0dad !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6a0dad !important;
}

.btn-primary {
  padding: 8px 18px;
  background: #6a0dad;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

