.bb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

body {
  padding-top: 70px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  color: #5e27b7f4;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #6A0DAD;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}
.btn-btn {
  padding: 8px 16px !important;
  border: 1px solid #6A0DAD !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6A0DAD !important;
}
.btn-btn1 {
  padding: 8px 16px !important;
  border: 1px solid #6A0DAD !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6A0DAD !important;
}
.btn-primary {
   margin-top: 10px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #6D5DFC, #8B7CFF);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-btn2 {
  padding: 8px 16px !important;
  border: 1px solid #0e11d1 !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6A0DAD !important;
}