
.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}
.nav-links li {
  cursor: pointer;
  color: #444;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-right: -300px;
}

.btn-btn {
  padding: 8px 16px !important;
  border: 1px solid #6a0dad !important;
  background: transparent !important;
  color: #6a0dad !important;
  border-radius: 20px !important;
  cursor: pointer !important;
}

.btn-btn1 {
  padding: 8px 16px !important;
  border: 1px solid #6a0dad !important;
  background: transparent !important;
  color: white !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: #6a0dad !important;
}

.btn-primary {
  padding: 8px 18px;
  background: #6a0dad;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

