.payment-container {
  max-width: 420px;
  margin: 40px auto;
  background: #fff;
  border-radius: 22px;
  padding: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.payment-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.payment-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 13px;
}

.payment-steps span {
  color: #aaa;
}

.payment-steps .active {
  color: #7b3fe4;
  font-weight: 600;
}

.payment-steps .active:hover {
  cursor: pointer;
}
.section-title {
  font-size: 16px;
  margin-bottom: 12px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.method {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.method.selected {
  border-color: #7b3fe4;
  background: #f5efff;
}

.alt-pay {
  height: 44px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
}

.alt-pay.google {
  color: #4285f4;
}

.alt-pay.apple {
  color: #000;
}

.card-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-form input {
  height: 42px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0 12px;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 10px;
  margin-left: 2px;

  width: 370px;
}

.checkbox {
 flex-direction: row !important;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}


.confirm-btn {
  margin-top: 15px;
  height: 46px;
  border-radius: 14px;
  background: linear-gradient(135deg, #7b3fe4, #9b5cff);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  opacity: 0.9;
}
