.students-page {
  padding: 25px;
}


.students-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.students-header h1 {
  color: #3c096c;
}

.students-header input {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  width: 250px;
}

.students-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.student-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.student-card:hover {
  transform: translateY(-5px);
}

.avatar {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #6a0dad, #8e2de2);
  color: white;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.student-card h3 {
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions button {
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.actions .view {
  background: #6a0dad;
  color: white;
}

.actions .block {
  background: #eee;
  color: #444;
}
