.teacher-dashboard1 {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
  font-family: "Segoe UI", sans-serif;
}

.sidebar1 {
  width: 240px;
  background: linear-gradient(180deg, #6a0dad, #8e2de2);
  color: white;
  padding: 30px 20px;
}

.logo1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar1 ul {
  list-style: none;
  padding: 0;
}

.sidebar1 li {
  padding: 12px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar1 li:hover,
.sidebar1 .active {
  background: rgba(255, 255, 255, 0.2);
}

.main-content1 {
  flex: 1;
  padding: 30px;
}

.dashboard-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-header1 h1 {
  font-size: 28px;
}

.add-course-btn1 {
  background: linear-gradient(180deg, #6a0dad, #8e2de2);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-course-btn1:hover {
  background: #4338ca;
}

.stats1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card1 {
  background: white;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
.text{
    display: flex;
    gap: 40px;
}
.stat-icon1 {
  font-size: 28px;
  color: #4f46e5;
}

.stat-card1 h3 {
  
  font-size: 24px;
}

.stat-card1 p {

  color: #6b7280;
}

.courses-section1 {
    color: black;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.courses-section1 h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f3f4f6;
}

th,
td {
  padding: 14px;
  text-align: left;
}

tr:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

.published {
  color: #16a34a;
  font-weight: 600;
}

.draft {
  color: #ca8a04;
  font-weight: 600;
}
