.unauth-wrapper {
  min-height: 90vh;
  background-color: #6c28d972;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

}

.unauth-card {
  background: #ffffff;
  width: 600px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.browser-bar {
  background-color: #c76fd4;
  padding: 10px;
  display: flex;
  gap: 8px;
  
}

.browser-bar span {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.9;
}

.unauth-content {
  padding: 50px 40px;
  text-align: center;
}

.unauth-emoji {
  font-size: 64px;
  margin-bottom: 10px;
}

.unauth-code {
  font-size: 96px;
  font-weight: bold;
  color: #982a98;
  margin: 0;
}

.unauth-title {
  font-size: 28px;
  margin: 10px 0;
  color: #df1111c0;
}

.unauth-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}


